<aside class="aside-page">
    <div class="container">  
        <div class="aside-container">
            <h2 class="aside-title">3 Reasons To Purchase</h2>
            <div class="aside-item one">
                <h3>Ut sed metus</h3>
                <p>Lorem ipsum dolor sit amet, consecteur.</p>
            </div>
            <div class="aside-item two">
                <h3>Curabitur ac erat</h3>
                <p>Mauris mattis urna quis lorem molestie.</p>
            </div>
            <div class="aside-item three">
                <h3>Morbi dictum</h3>
                <p>Aliquam in dolor et dolor tincidunt.</p>
            </div>
            <button>
                <a href="#">More Reasons</a>
            </button>
        </div>
    </div>
</aside>