<footer class="footer-page">
    <div class="container">
        <div class="btn-container">
            <button aria-label="inicio" class="footer-button">
                <a href="#home" title="Inicio"><img src="./assets/images/ico-arrow.svg"></a>
            </button>
        </div>
        <div class="footer-container">
            <div class="links-container">
                <nav class="footer-menu">
                    <ul>
                        <li>
                            <a href="https://adalab.es" target="_blank" title="Artículos">Articles</a>
                        </li>
                        <li>
                            <a href="https://adalab.es" target="_blank" title="Libros">Books</a>
                        </li>
                        <li>
                            <a href="https://adalab.es" target="_blank" title="Eventos">Events</a>
                        </li>
                        <li>
                            <a href="https://adalab.es" target="_blank" title="Razones">Reasons</a>
                        </li>
                        <li>
                            <a href="https://adalab.es" target="_blank" title="Tips">Tips</a>
                        </li>
                    </ul>
                </nav>
                <div class="footer-social">
                    <ul>
                        <li>
                            <a href="https://twitter.com/Adalab_Digital" target="_blank" title="Twitter">Twitter</a>
                        </li>
                        <li>
                            <a href="https://instagram.com/adalab_digital/" target="_blank" title="Instagram">Instagram</a>
                        </li>
                        <li>
                            <a href="https://mastodon.social/@mastodon_es" target="_blank" title="Mastodon Social">Mastodon.Social</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-copy">
                <p class="copy">&copy;2017</p>
                <p class="love">we <i>❤︎</i> components</p>
            </div>
        </div>
    </div>
</footer>