<footer class="footer-page">
    <div class="container">
        <div class="footer-container">
            <div class="footer-button">
                <a href="#" title="Inicio"></a>
            </div>
            <nav class="footer-menu">
                <ul>
                    <li>
                        <a href="#" title="Artículos">Articles</a>
                    </li>
                    <li>
                        <a href="#" title="Libros">Books</a>
                    </li>
                    <li>
                        <a href="#" title="Eventos">Events</a>
                    </li>
                    <li>
                        <a href="#" title="Razones">Reasons</a>
                    </li>
                    <li>
                        <a href="#" title="Tips">Tips</a>
                    </li>
                </ul>
            </nav>
            <div class="footer-social">
                <ul>
                    <li>
                        <a href="#" title="Twitter">Twitter</a>
                    </li>
                    <li>
                        <a href="#" title="Instagram">Instagram</a>
                    </li>
                    <li>
                        <a href="#" title="Mastodon Social">Mastodon.Social</a>
                    </li>
                </ul>
            </div>
            <div class="footer-copy">
                <p>&copy;2017</p>
                <p>we <i>❤︎</i>  components</p>
            </div>
        </div>
    </div>
</footer>