<header class="header-page">
    <div class="burger-menu">
        <a href="https://adalab.es" target="_blank" title="Adalab"><img src="./assets/images/ico-menu.svg" alt="logo menú"></a>
    </div>
    <div class="container">
        <div class="header-container">
            <h1>Anonymous Proxy</h1>
            <p>In hac habitasse platea dictumst.</p>
            <div class="header-button">
                <a href="#" title="Three Reasons to purchase"></a>
            </div>
        </div>    
    </div>
    </div>
</header>
