<section class="section-page">
    <div class="container">
        <div class="section-container">
            <h1>More reasons to purchase</h1>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quaerat architecto, dolore omnis reprehenderit, magni cupiditate nobis enim perferendis officiis, ratione corporis quis molestiae aliquid veniam fugit at corrupti! Odio.</p>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores aliquam ducimus iusto natus reprehenderit adipisci eius nisi aut sequi, exercitationem deserunt obcaecati, incidunt culpa quas assumenda repellat necessitatibus corrupti cupiditate?</p>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis harum enim perferendis, consequuntur asperiores totam voluptate animi error nostrum corrupti molestias excepturi distinctio officiis, ullam incidunt ex, cupiditate dicta beatae.</p>
            
            <button aria-label="volver">
                <a href="./index.html#inicio" title="Return home">Return</a>
            </button>
        </div>
    </div>
</section>