.main-container {
    display: block;
    padding-top: 30px;
    padding-bottom: 45px;

    small {
        color: $smallColor;
    }
    
    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1.87rem;
        padding-bottom: 15px;
        padding-right: 15px;
    }

    p {
        font-size: 1.12rem;
        line-height: 1.87rem;
        padding-bottom: 30px;
    }

    button {
        width: 76px;
        height: 45px;
        border-radius: 22.5px;
        border-color: transparent;
        outline: none;
        border: solid 2px $buttonColor;
        background: white;

        a {
            color: $buttonColor;
            text-decoration: none;
            font-size: 1.25rem;
            padding: 10px;
        }
    }
    button:hover {
        background: $buttonColor;
        border-radius: 25px;
        width: 90px;
        transition: width ease 1s;

        a {
            color: white;
        }
    }
    
    @media all and (min-width:$tablet) {
        padding-bottom: 60px;

        h2 {
            font-size: 1.62rem;
            line-height:2.81rem;
        }

        p {
            font-size: 1.25rem;
            line-height: 30px;
            padding-top: 1.87rem;
            padding-bottom: 30px;
        }

        button {
            width: 91px;
        }
    }

    @media all and (min-width:$pc) {
        padding-top: 60px;
        margin-left: 275px;
        margin-right: 275px;

        small {
            font-size: 1rem;
        }

        h2 {
            font-size: 2rem;
            line-height: 2.81rem;
            margin: 0;
            padding: 5px;
        }

        p {
            margin: 0;
        }

        button {
            width: 160px;
        }
    }
}