/* COLORS*/

$menuColor: #0271bc;
$buttonColor: #f26002;
$footerColor: #304268;
$asideColor:  #eff9ff;
$smallColor: #8ccbea;

/*DECOS*/

$linkDeco: none;
$listDeco: none;

/*BREAKPOINTS*/

$tablet: 768px;
$pc: 1280px;